<?xml version="1.0" encoding="UTF-8"?>
<!-- 여기는 Connection 과 관련한다.-->
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
   <properties resource="db.properties"/>
    <typeAliases>
    <typeAlias type="com.sist.vo.FoodVO" alias="FoodVO"/> <!-- 이 부분을 등록을 안하면 emp-mapper처럼 resultType을 길게 써야한다 --> 
    </typeAliases>
    <environments default="development">
     <environment id="development">
      <transactionManager type="JDBC"/>
       <dataSource type="POOLED">
         <property name="driver" value="${driver}"/>
         <property name="url" value="${url}"/>
         <property name="username" value="${username}"/>
         <property name="password" value="${password}"/>
       </dataSource>
     </environment>
    </environments>
   <mappers>
   <mapper resource="com/sist/model/food-mapper.xml"/>
   </mappers>
 </configuration>